<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipeat</title>
    <link rel="stylesheet" href="login.css">
    <script defer src="server.js"></script>
    <script defer src="login.js"></script>
</head>
    <body>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <header id="mainHeader">
            <div class="headerElement" id="lHeaderIcon">
                <img id="rIconImg" alt="Recipeat Icon" src="Recipeat Icon 3.png">
            </div>
            <h1 class="headerElement" id="headerTitle">RECIPEAT</h1>
            <div class="headerElement" id="rHeaderIcon">
                <img id="lIconImg" alt="Recipeat Icon" src="Recipeat Icon 2.png">
            </div>
        </header>
        <section id="formContainer">
            <form id="form" action="/" method="POST">
                <div id="errorMessage">
                    <% if(messages.error) { %>
                        <%= messages.error %>
                        <% } %>
                </div>
                <div id="emailContainer">

                    <input type="email" id="email" name="email" placeholder="Email">
                </div>
                <div id="passwordContainer">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <div id="buttonContainer">
                    <button type="submit" id="signInButton">Sign In</button>
                </div>
                <div id="signUpContainer">
                    <p id="signUpText">Need an account?</p>
                    <a href="/register">Sign Up</a>
                </div>
            </form>
        </section>
    </body>
</html>